@* <h3>PublicLayout</h3> *@

@* @code { *@

@* } *@
@inherits LayoutComponentBase

<link rel="stylesheet" href="css/public.css" />

<div class="public-shell">
    <PublicNavbar />

    <main class="public-main">
        @Body
    </main>

    <PublicFooter />
</div>