@* @page "/" *@

@* <PageTitle>Home</PageTitle> *@

@* <h1>Hello, world!</h1> *@

@* Welcome to your new app. *@


@page "/" 
@layout ScheduleX.Web.Components.Layout.Public.PublicLayout

<HeroSection />
<TimetableDemoSection />
<TemplatesSection />
<FeaturesSection />
<HowItWorksSection />
<CtaSection />
<FaqSection />