


@page "/admin/change-password"
@layout ScheduleX.Web.Components.Layout.Admin.AdminLayout
<link href="css/change-password.css" rel="stylesheet" />

@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager Nav

<div class="cp-section">

    <div class="cp-card">

        <div class="cp-header">
            <h2>Change Password</h2>
            <p>Keep your account secure</p>
        </div>

        <form @onsubmit="HandleSubmit" @onsubmit:preventDefault>

            <div class="cp-input-group">
                <input type="password"
                       placeholder="Current Password"
                       @bind="currentPassword"
                       required />
            </div>

            <div class="cp-input-group">
                <input type="password"
                       placeholder="New Password"
                       @bind="newPassword"
                       required
                       minlength="6"
                       pattern="^(?=.*[A-Z])(?=.*[\W_]).+$"
                       title="Minimum 6 characters, one capital letter & one special character" />
            </div>

            <div class="cp-input-group">
                <input type="password"
                       placeholder="Confirm Password"
                       @bind="confirmPassword"
                       required />
            </div>

            <button type="submit" class="cp-button">
                Update Password
            </button>

        </form>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="cp-error">
                @errorMessage
            </div>
        }

    </div>

</div>

@if (showSuccess)
{
    <div class="cp-toast">
        Password updated successfully
    </div>
}

@code {

    private string currentPassword = "";
    private string newPassword = "";
    private string confirmPassword = "";
    private string errorMessage = "";
    private bool showSuccess = false;

    private async Task HandleSubmit()
    {
        errorMessage = "";

        if (newPassword != confirmPassword)
        {
            errorMessage = "New Password and Current Password are not match.";
            return;
        }

        var request = new
        {
            CurrentPassword = currentPassword,
            NewPassword = newPassword
        };

        var response = await Http.PostAsJsonAsync(
            "api/admin/change-password",
            request);

        if (!response.IsSuccessStatusCode)
        {
            errorMessage = "Current password is invalid.";
            return;
        }

        showSuccess = true;

        await Task.Delay(2000);
        Nav.NavigateTo("/admin/overview");
    }
}