@* @page "/" *@
@page "/admin/overview"
@layout ScheduleX.Web.Components.Layout.Admin.AdminLayout
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
@inject NavigationManager Nav

@using ScheduleX.Core.Entities
@using ScheduleX.Infrastructure.Data
@inject AppDbContext _context
@using Microsoft.EntityFrameworkCore



<link href="css/admin-overview.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

<div class="overview-container">
    <div class="welcome-box">
        <h2>Welcome, Admin</h2>
        <p>Here's what's happening in your timetable system today</p>
    </div>

    <div class="stats-cards">
        <div class="stat-card">
            <p>TOTAL DEPARTMENTS</p>
            @* <h3>3</h3> *@
            <h3>@totalDepartments</h3>
        </div>
        <div class="stat-card">
            <p>TOTAL FACULTY</p>
            @* <h3>25</h3> *@
            <h3>@totalTTCoordinators</h3>
        </div>
        <div class="stat-card">
            <p>TOTAL COURSES</p>
            @* <h3>12</h3> *@
            <h3>@totalCourses</h3>
        </div>
    </div>

    
</div>

@code {
  

    private int totalDepartments;
    private int totalTTCoordinators;
    private int totalCourses;


    protected override async Task OnInitializedAsync()
    {
        


        // totalDepartments = await _context.Departments.CountAsync();
        // totalFaculty = await _context.Faculties.CountAsync();
        // totalCourses = await _context.Courses.CountAsync();
        totalDepartments = await _context.Departments
                                     .Where(x => x.IsActive)
                                     .CountAsync();

        totalTTCoordinators = await _context.Users
        .Where(u => u.Role == UserRole.TTCoordinator && u.IsActive)
        .CountAsync();

        totalCourses = await _context.Courses
                                    .Where(x => x.IsActive)
                                    .CountAsync();
    }
}