 @* @using ScheduleX.Core.Entities  *@
 @* <h3>TTLayout</h3>  *@

 @* @code {  *@

 @*  }  *@


@* @inherits LayoutComponentBase *@

@* @inject NavigationManager Nav *@

@* <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet"> *@
@* <link rel="stylesheet" href="css/tt.css" /> *@
@* <link rel="stylesheet" href="/css/faculty.css" /> *@
@* <link href="/css/Semesters.css" rel="stylesheet" /> *@
@* <link rel="stylesheet" href="/css/subject-mapping.css" /> *@
@* <link rel="stylesheet" href="/css/subjectfaculty.css" /> *@
@* <link rel="stylesheet" href="/css/subject.css?v=2.0" /> *@
@* <link rel="stylesheet" href="/css/subject-semester.css" /> *@
@* <link href="/css/schedule-config.css" rel="stylesheet" /> *@
@* <link href="/css/templates.css" rel="stylesheet" /> *@
@* <link href="/css/room.css" rel="stylesheet" /> *@
@* <link href="/css/room.css" rel="stylesheet" /> *@
@* <link href="/css/tt-generate.css" rel="stylesheet" /> *@
@* <link rel="stylesheet" href="/css/division-room-allocation.css" /> *@





@* @code { *@
@*     private bool isLoaded = false; *@

@*     protected override async Task OnAfterRenderAsync(bool firstRender) *@
@*     { *@
@*         if (firstRender && !isLoaded) *@
@*         { *@
@*             isLoaded = true; *@

           

@*             StateHasChanged(); *@
@*         } *@
@*     } *@
@* } *@
@* <div class="tt-shell"> *@
@*     <div class="tt-sidebar"> *@
@*         <TTSidebar /> *@
@*     </div> *@

@*     <div class="tt-main"> *@
@*         <div class="tt-topbar"> *@
@*             <TTTopbar /> *@
@*         </div> *@

@*         <main class="tt-content"> *@
@*             @Body *@
@*         </main> *@
@*     </div> *@
@* </div> *@


@using ScheduleX.Core.Entities
@inherits LayoutComponentBase 
@inject NavigationManager Nav 
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@inject AuthenticationStateProvider AuthProvider

@if (isAuthorized)
{
    <div class="tt-shell">
        <div class="tt-sidebar">
            <TTSidebar />
        </div>

        <div class="tt-main">
            <div class="tt-topbar">
                <TTTopbar />
            </div>

            <main class="tt-content">
                @Body
            </main>
        </div>
    </div>
}
else
{
    <RedirectToLogin />
}

@code {
    private bool isAuthorized;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        isAuthorized = user.Identity?.IsAuthenticated == true &&
                       user.IsInRole("TTCoordinator");
    }
}