@* @page "/forgot-password" *@
@* @inject HttpClient Http *@
@* @inject NavigationManager nav *@

@* <link href="css/auth.css" rel="stylesheet" /> *@

@* <button class="circle-back-btn" @onclick="GoHome"> *@
@*     ← *@
@* </button> *@

@* <div class="auth-container"> *@
@*     <div class="auth-box"> *@
@*         <h2>Forgot Password</h2> *@

@*         <input @bind="Email" placeholder="Enter Email" /> *@
@*         <button @onclick="SendOTP">Send OTP</button> *@

@*         <p class="message">@Message</p> *@
@*     </div> *@
@* </div> *@

@* @code { *@
@*     string Email; *@
@*     string Message; *@

@*     async Task SendOTP() *@
@*     { *@
@*         var res = await Http.PostAsJsonAsync("api/account/send-otp", new { Email }); *@
@*         var msg = await res.Content.ReadAsStringAsync(); *@

@*         if (res.IsSuccessStatusCode) *@
@*         { *@
@*             Message = "✅ " + msg; *@
@*             await Task.Delay(1000); *@
@*             nav.NavigateTo("/verify-otp"); *@
@*         } *@
@*         else *@
@*         { *@
@*             Message = "❌ " + msg; *@
@*         } *@
@*     } *@

@*     private void GoHome() *@
@*     { *@
@*         nav.NavigateTo("/"); *@
@*     } *@
@* } *@