@* @inherits LayoutComponentBase *@
@* @rendermode InteractiveServer *@
@* <link href="css/admin-layout.css" rel="stylesheet" /> *@

@* <div class="admin-wrapper"> *@
@*     <AdminSidebar /> *@

@*     <div class="admin-main"> *@
@*         <AdminTopbar /> *@

@*         <div class="admin-content"> *@
@*             @Body *@
@*         </div> *@
@*     </div> *@
@* </div> *@

@inherits LayoutComponentBase
@rendermode InteractiveServer
@* @inject ScheduleX.Web.Services.AuthState Auth *@
@* @inject NavigationManager Nav *@

@* @code { *@
@*     private bool isLoaded = false; *@

@*     protected override async Task OnAfterRenderAsync(bool firstRender) *@
@*     { *@
@*         if (firstRender && !isLoaded) *@
@*         { *@
@*             isLoaded = true; *@

@*             await Auth.LoadFromSession(); *@

@*             if (!Auth.IsLoggedIn || Auth.Role != UserRole.TTCoordinator) *@
@*             { *@
@*                 Nav.NavigateTo("/login", true); *@
@*             } *@

@*             StateHasChanged(); *@
@*         } *@
@*     } *@
@* } *@
<div class="admin-wrapper">
    <AdminSidebar />

    <div class="admin-main">
        <AdminTopbar />

        <div class="admin-content">
            @Body
        </div>
    </div>
</div>

